<div class="spacer"></div>
<% if @message %>
<h5><%= @message %></h5>
<% end %>
<a href="/consoles/new">Create a console</a>
<h1>All consoles: </h1>
<% @consoles.each do |console| %>
	<a href="/consoles/<%= console.id %>"><%=console.name %></a><br>
	<% end %>
<hr align="left">
<a href="/consoles">Back to consoles</a>
<br>
<a href="/users">Back to users</a>