<div class="spacer"></div>
<% if @message %>
	<span class="red"><%= @message %></span>
<% end %>
<h1><span class="lightblue">Create a new console: </span></h1>
<form action="/consoles" method="post">
	<p><span class="lightblue">Console Name: </span><input type="text" name="new_console_name" id="new_console_name"></p><br>
	<input type="submit" value="Create Console">
</form>