<div class="spacer"></div>
<h1>Create a new console: </h1>
<form action="/consoles" method="post">
<p>Console Name: <input type="text" name="new_console_name" id="new_console_name"></p><br>
<input type="submit" value="Create Console">
</form>