<span class="lightblue"><div class="spacer"></div>
<form action="/users/<%= @user.slug %>/editconsoles" method="post">
<h2>Create (and add) a new Console: </h2>
Console Name: <input type="text" name="console_name" id="new_game_name"><br>

<h2>Existing Consoles <br>(check to add to your collection):</h2>
<hr align="left">
<% @consoles.each do |console| %>
<input type="checkbox" name="user[console_ids][]" value="<%= console.id %>" 

<% if @user.consoles.include?(console) %>
	<%= "checked" %>
<% end %>

><%= console.name %></input><br>
<% end %>
</span>
<input type="submit" value="submit">
</form>


