



<div class="spacer"></div>
<h1><span class="lightblue">Welcome, </span><span class="green"><%= @user.username %>!</span></h1>
<h3><a href="/users/<%= @user.slug %>">View and Manage your collection</a></h3>
<hr align="left">
<h1><span class="lightblue">Browse Other Users:</span></h1>
<% @users.each do |user| %>
	<a href="/users/<%= user.slug %>"><%= user.username %></a>
	<% if current_user.id == user.id %>
		<span class="red">(me)</span>
	<% end %>
	<br>
<% end %>
<br>
<hr align="left">


