<div class="spacer"></div>
<form action="/games" method="post">
<h2>Create a new game: </h2>
Name: <input type="text" name="new_game_name" id="new_game_name"><br>
Year: <input type="text" name="new_game_year" id="new_game_year"><br>

Console: <select name="new_game_console_id">
	<% @consoles.each do |my_console| %>
	<option value="<%= my_console.id %>" name="<%= my_console.id %>" id = "<%= my_console.id %>" ><%= my_console.name %></option>
	<% end %>
</select>
<h5>*** Games require an associated console.<br> If the console is not listed, <a href="/consoles/new">Create</a> one in the database ***</h5>
<input type="submit" value="Create Game">
</form>